
    body {
      margin: 0;
      padding: 0;
      background-color: #8EC5FC;
      background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }
    .nav-bg{
      background-color:  #aa80ff;
    }
    .heading{
      color: black;
      text-align: center;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: 40px;
    }
    .slogen{
        text-align: center;
        font-size: 20px;
    }
    .card-row-2{
        display: flex;
        justify-content: space-around;

    }
    .card-row-1{
        display: flex;
        justify-content: space-around;

    }
    .card{
        height: 440px;
        width: 400px;
        border: 2px solid black;
        border-radius: 5px;
        margin-top: 50px;
        box-shadow: 2px 2px 0px 0px blueviolet;
    }
    .ludo-img{
        height: 210px;
        padding: 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .pr-name{
        text-align: center;
        font-weight: bold;
        font-size: 30px;

    }
    .btn{
        width: 100px;
        border: none;
        background-color: #aa80ff;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    .footer{
        background-color: rgb(49, 46, 46);
        width: 100%;
        height: 200px;
        margin-top: 50px;
        text-align: center;
         }
    .thank{
        margin-top: 50px;
        color: white;
        
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
